APP_NAME=Lumina
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8000

# Database Configuration
# SQLite: sqlite:./lumina.db
# MySQL:  mysql://user:pass@localhost:3306/lumina
# Postgre: postgres://user:pass@localhost:5432/lumina
DATABASE_URL=sqlite:./lumina.db

# JWT Authentication
JWT_SECRET=lumina-super-secret-key-ganti-ini-di-production
JWT_EXPIRY_HOURS=24

DB_CONNECTION=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=lumina
DB_USERNAME=root
DB_PASSWORD=
